@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Fira+Code:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body */
body {
  font-family: 'Inter', sans-serif; 
  background-color: #0f172a; 
  color: #e2e8f0;
}

.font-handwriting {
  font-family: 'Caveat', cursive;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }

.timeline-date {
  @apply font-bold text-xl;
}

/* Navbar */
.hover-pointer {
  @apply hover:cursor-pointer;
}

.nav-logo {
  @apply text-[#c2edda] text-2xl xl:text-3xl font-bold tracking-tight;
}

.nav-item {
  @apply text-base xl:text-xl;
}

.northeastern-color {
  color: #e31c25;
}

.horizontal-gradient {
  background: linear-gradient(to right, #1bd7bb, #2af598);
  -webkit-background-clip: text;
  color: transparent;
}

.seperator-line {
  @apply border-t border-gray-600 pt-2 sm:pt-3;
}

@keyframes gradientAnimation {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 50%;
  }
}

.animation-gradient {
  background: linear-gradient(90deg, #17d2c4, #91fff7, #4663ac, #4efff2);
  background-size: 400% 400%;
  animation: gradientAnimation 5s infinite;
}

.northeastern-animation {
  color: linear-gradient(90deg, #17d2c4, #91fff7, #2f4f4f, #4efff2);
  animation: gradientAnimation 3s infinite;
}

.color {
  @apply hover:text-[#c2edda];
}

.text-green {
  color: #c2edda;
}

.instagram-icon:hover {
  color: #e4405f; /* Instagram's brand color */
}

.mail-icon:hover {
  color: #0072c6; /* Outlook's mail color */
}

.instagram-color {
  color: #e4405f;
}

.mail-color {
  color: #0072c6;
}

.linkedin-icon:hover {
  color: #0077b5;
}

.github-icon:hover {
  color: #6e5494;
}
